DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=123s # ← Đổi thành password của bạn
DB_NAME=library_ptit

# JWT Configuration
SECRET_KEY=your-super-secret-key-change-this  # ← Đổi thành key bí mật
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=30

# Gemini API (RAG Chatbot)
GEMINI_API_KEY=s  # ← Lấy tại https://aistudio.google.com/apikey

OPENROUTER_API_KEY=s# ← Đổi thành API key của bạn từ https://openrouter.ai/dashboard/apikeys

OPENROUTER_MODEL=google/gemma-3n-e4b-ít